In [40]:
import pandas as pd

## Data collection and preprocessing

In [41]:
books = pd.read_csv('books.csv',error_bad_lines = False)
ratings = pd.read_csv('ratings.csv',error_bad_lines = False)
tags = pd.read_csv('book_tags.csv',error_bad_lines = False)
btags = pd.read_csv('tags.csv',error_bad_lines = False)

In [42]:
books.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [43]:
books.shape

(10000, 23)

In [44]:
ratings.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [46]:
tags.head()

   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

In [52]:
#Checking for duplicates in ratings
ratings = ratings.sort_values("user_id")
print(ratings.shape)
ratings.drop_duplicates(subset =["user_id","book_id"], 
                     keep = False, inplace = True) 
print(ratings.shape)

(5976479, 3)
(5976479, 3)

Therefore, there are no duplicates in the ratings dataset, continuing the same for the rest.

In [53]:
print(books.shape)
books.drop_duplicates(subset='original_title',keep=False,inplace=True)
print(books.shape)

(10000, 23)
(9151, 23)

In books, 849 duplicate rows are now removed.

In [55]:
print(btags.shape)
btags.drop_duplicates(subset='tag_id',keep=False,inplace=True)
print(btags.shape)

(34252, 2)
(34252, 2)

No duplicates here as well.

In [56]:
print(tags.shape)
tags.drop_duplicates(subset=['tag_id','goodreads_book_id'],keep=False,inplace=True)
print(tags.shape)

(999912, 3)
(999896, 3)

16 duplicates removed.

## Data visualization

In [60]:
#Joining book tags and tags
joint_tags=pd.merge(tags,btags,left_on='tag_id',right_on='tag_id',how='inner')
print(joint_tags.head())

   goodreads_book_id  tag_id   count tag_name
0                  1   30574  167697  to-read
1                  2   30574   24549  to-read
2                  3   30574  496107  to-read
3                  5   30574   11909  to-read
4                  6   30574     298  to-read

### Top 10 rated books

In [73]:
top_rated=books.sort_values('average_rating', ascending=False)
top10=top_rated.head(10)
f=['title']
top10=(top10[f])
top10.set_index('title', inplace=True)

In [74]:
top10

Empty DataFrame
Columns: []
Index: [The Complete Calvin and Hobbes, Words of Radiance (The Stormlight Archive, #2), Mark of the Lion Trilogy, It's a Magical World: A Calvin and Hobbes Collection, There's Treasure Everywhere: A Calvin and Hobbes Collection, Harry Potter Boxset (Harry Potter, #1-7), Harry Potter Collection (Harry Potter, #1-6), The Indispensable Calvin and Hobbes, The Authoritative Calvin and Hobbes: A Calvin and Hobbes Treasury, Attack of the Deranged Mutant Killer Monster Snow Goons]

### Top 10 popular books

In [77]:
pop10=books.sort_values(by='ratings_count', ascending=False)
f=['title']
pop10=pop10.head(10)

pop10=(pop10[f])
pop10=pop10.set_index('title')

In [75]:
pop10

Empty DataFrame
Columns: []
Index: [The Hunger Games (The Hunger Games, #1), Harry Potter and the Sorcerer's Stone (Harry Potter, #1), To Kill a Mockingbird, The Great Gatsby, The Fault in Our Stars, The Hobbit, The Catcher in the Rye, Pride and Prejudice, Angels & Demons  (Robert Langdon, #1), The Diary of a Young Girl]